.filter-sidebar {
    width: 260px;
   
    padding: 10px;
    background-color: white;
    /* font-family:  Arial, sans-serif; */
    /* margin-top: 180px; */
    margin-left: 96px;
    /* margin-right: 90%; */
    font-weight: 700;
    font-size: 18px;
  }
  
  .filter-section {
    margin-bottom: 12px;
    padding-bottom: 6px;
  }
  
  .filter-label {
    display: block;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
    color: #252020;
  }
  
  .filter-dropdown {
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #ccc;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='%23000' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
    background-color: transparent;
    background-size: 12px;
  }
  