


.logo{
  
  /*background-image: url(../Assets/E-Com.png); */
  
  width: 107px;
  height: 44px;
  line-height: 100%;
  letter-spacing: 1px;
  font-size: 36px;
  margin-left: 45%;
  margin-top: 36px;
  font-weight: 800;
}

@media (max-width: 767px) {
 .logo{
  margin-left: 36%;
 }
}